adal==1.2.7
alembic==1.8.1
asn1crypto==1.5.1
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.0
coverage==6.4.2
cryptography==37.0.4
idna==3.3
mysqlclient==2.1.1
pycparser==2.21
PyJWT==2.4.0
python-dateutil==2.8.2
requests==2.28.1
six==1.16.0
SQLAlchemy==1.4.39
urllib3==1.26.11
